<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>email</title>
</head>
<body>
    <div style="width: 90%; padding: 10px; background-color: blueviolet; border-radius: 10px;
    height: auto;
    margin: 10px;
    
    ">
    <center >
<img src="https://drive.google.com/file/d/1idYF6NCpRc9WKdWEkuOlm4HeS78rFO2q/view?usp=share_link" alt="" srcset="">g    
       </center>

      <center>
        <h3 style="color: white; font-size: 34px; font-family: sans-serif;"> SEJA BEM-VINDO </h3>
    </center>
     
        <hr>
        <p style="color: white; font-size: 20px; font-family:   sans-serif; letter-spacing: 3px;"> <b>Ganilson</b>, Este é o seu codigo de acesso à sua conta KIPAGA!</p>
        <p style="color: white; font-size: 20px; font-family:  sans-serif; letter-spacing: 3px;"> Não partilhe com ninguém para a sua segurança.</p>

      <hr>
      <h4 style="color: white; font-size: 10px; font-family:  sans-serif;"><b>PIN  DE ACESSO</b>  </h4>

<center>

    <h4 style="margin-top: -10px; letter-spacing: 10px; color: white; font-size: 40px; font-family:  sans-serif; background-color: rgba(222, 222, 222, 0.745); padding: 20px; height: 20px;"><b>111111</b>  </h4>

</center>      


      <a href="http://">
        <h4 style="color: white; font-size: 10px; font-family:  sans-serif;"><b>www.kipaga.com</b>  </h4>

      </a>


    </div>
</body>
</html>