{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kipaga - {{object.first_name}} {{object.last_name}}</title>
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/envitelink.css' %}">

</head>
<body>
    {% if object.verificado %}
    <div class="cardWarnig">
        <img src="{% static 'assets/images/logo.svg' %}" alt="img" style="width: 100px;">
        <br>
        <span>O Utilizador bloqueou o acesso a esta partilha.</span>
        <br><br>
    <div>
        <a href="">OK</a>
    </div>

    </div>
    {% endif %}
<div class="container  {% if object.verificado %}blurefect{% endif %}">
<center>    <h3>Cartão de informações</h3>
</center>
    <div class="cardEnvite ">
        <img src="/static/images/{{object.bi}}.png" alt="static/images/{{object.bi}}" id="img">
        <br>
   <h3> {{object.first_name}}
    {{object.last_name}}</h3>
 
<br><br><br><br><br><br>
<br><br><br><br><br><br>
    </div>
    
</div>
</body>
</html>